<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Multi Step Form with Progress Bar using jQuery and CSS3</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <!-- multistep form -->
<form id="msform">
  <!-- progressbar -->

  <!-- fieldsets -->
  
  <fieldset>
    <h2 class="fs-title">WELCOME BACK!</h2>
    <h3 class="fs-subtitle"></h3>
    <div class="section-left">
      <img src="images/myCar.jpg" alt="My Car">
    </div>
    <div class="section-rigth">
      <input type="email" name="email" placeholder="Email Adress" />
      <input type="password" name="adress" placeholder="Password" />
      <div class="push-left"><input type="checkbox" name="remember" value="yes" style="width:20px"> Remember me</div>
      <div class="push-right">
        <input type="submit" name="submit" class="submit action-button" value="LOGIN" />
        <p><a href="#">Forgot Password?</a></p>
        <p><a href="#">Don't have an account? Sign up now</a></p>
      </div>
    </div>
    
  </fieldset>
</form>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
    <script type="text/javascript" src="js/index.js"></script>

  </body>
</html>
